root = true

[*]
charset = utf-8
indent_style = space
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# Conform to PEP 8 (<https://www.python.org/dev/peps/pep-0008/>).
[*.py]
indent_size = 4
